  <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <%# PagesController::NUMBER_OF_SLIDES.times do |page| %>
          <%= render partial: "member" %>
        <%# end %>
      </div>
      <div class="swiper-pagination"></div>
  </div> 