    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <% @pages.each do |page| %>
          <div class="swiper-slide" page="1">
            <%= render partial: "page", locals: { page: page } %>
          </div>
        <% end %>
    
   
      </div>
      <div class="swiper-pagination"></div>
    </div>
