<div class="swiper mySwiper">
  <div class="swiper-wrapper">

    <div class="swiper-slide" page="1">
      <%= render partial: "member" %>
    </div>

    <div class="swiper-slide" page="2">
      <%= render partial: "member" %>
    </div>

    <div class="swiper-slide" page="3">
      <%= render partial: "member" %>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>


 