<div class="swiper mySwiper">
  <div class="swiper-wrapper">
  
    <div class="swiper-slide" page="1">
      <h1>Title 1</h1>
    </div>

    <div class="swiper-slide" page="2">
      <h1>Title 2</h1>
    </div>

    <div class="swiper-slide" page="3">
      <h1>Title 3</h1>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>


 