    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" page="1">
          <%= render partial: "page", locals: { page: @page } %>
        </div>
        <div class="swiper-slide" page="2">
          <%= render partial: "page", locals: { page: @page } %>
        </div>
        <div class="swiper-slide" page="3">
          <%= render partial: "page", locals: { page: @page } %>
        </div>
        <div class="swiper-slide" page="4">
          <%= render partial: "page", locals: { page: @page } %>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>